fece_detector/ben.jpg
fece_detector/face_detect_img.py
fece_detector/face_detector.py
fece_detector/output_detected.jpg
fece_detector/renama_files.py
fece_detector/Screenshot_20240427_175419_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174709_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174715_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174719_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174723_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174727_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174733_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174742_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174748_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174753_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174759_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174804_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174820_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174827_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174831_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174835_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174841_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174845_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174848_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174855_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174900_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174904_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174907_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174912_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174917_Gallery.jpg
fece_detector/face_db/ahmed/Screenshot_20240427_174951_Gallery.jpg
fece_detector/face_db/bimo/20240427_175049.jpg
fece_detector/face_db/bimo/20240427_175056.jpg
fece_detector/face_db/bimo/20240427_175059.jpg
fece_detector/face_db/bimo/20240427_175101.jpg
fece_detector/face_db/bimo/20240427_175103.jpg
fece_detector/face_db/bimo/20240427_175105.jpg
fece_detector/face_db/bimo/20240427_175108.jpg
fece_detector/face_db/bimo/20240427_175110.jpg
fece_detector/face_db/bimo/20240427_175112.jpg
fece_detector/face_db/bimo/20240427_175113.jpg
fece_detector/face_db/bimo/20240427_175114.jpg
fece_detector/face_db/bimo/20240427_175116.jpg
fece_detector/face_db/bimo/20240427_175118.jpg
fece_detector/face_db/bimo/20240427_175119.jpg
fece_detector/face_db/bimo/20240427_175120.jpg
fece_detector/face_db/bimo/20240427_175121.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174138_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174148_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174156_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174200_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174204_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174212_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174218_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174220_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174225_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174233_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174242_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174246_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174302_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174313_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174321_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174324_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174351_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174355_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174402_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174409_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174421_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174423_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174428_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174431_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174434_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174445_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174525_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174529_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174535_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174539_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174543_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174547_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174559_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174623_Gallery.jpg
fece_detector/face_db/bimo/Screenshot_20240427_174646_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172734_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172738_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172742_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172752_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172756_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172802_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172806_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172811_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172815_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172819_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172825_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172833_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172838_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172858_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172907_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172911_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172916_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172932_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172940_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172945_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_172956_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173004_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173012_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173018_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173027_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173031_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173037_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173046_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173051_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173056_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173102_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173111_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173117_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173124_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173129_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173133_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173141_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173153_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173159_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173203_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173252_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173300_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173306_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173311_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173316_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173322_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173329_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173336_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173344_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173348_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173355_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173359_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173402_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173516_Gallery.jpg
fece_detector/face_db/mal/Screenshot_20240427_173521_Gallery.jpg
